@import 'tailwindcss' layer(utilities);
@import 'tailwindcss/utilities' layer(utilities);

@plugin "@tailwindcss/typography";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
