@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@300;700&display=swap");

.header {
  font-family: Vollkorn, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 0 5rem 0;
}

.header h2 {
  font-weight: 300;
  width: 70%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  font-family: Vollkorn, sans-serif;
  font-size: 20px;
  background-color: rgb(231, 219, 204);
}

.form h3 {
  text-align: left;
}

.form input {
  margin-bottom: 2rem;
  border: 1px solid rgb(170, 170, 170);
  height: 35px;
  width: 700px;
  font-size: 20px;
  font-family: Vollkorn, sans-serif;
}

.form textarea {
  height: 150px;
  border: 1px solid rgb(170, 170, 170);
  resize: vertical;
  font-family: Vollkorn, sans-serif;
  font-size: 20px;
  width: 700px;
}

.form button {
  background-color: var(--color-highlight);
  color: rgb(255, 245, 233);
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  border: none;
  width: 150px;
  font-family: Vollkorn, sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin: 2rem 0 0 0;
  transition: transform 300ms ease-in;
}

.form button:hover {
  transform: translateY(-5px);
}

.form button:disabled {
  background-color: grey;
}

.formContainer {
  background-color: rgb(231, 219, 204);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.recaptcha {
  margin-top: 3rem;
}

@media only screen and (max-width: 900px) {
  .form input {
    width: 400px;
  }

  .form textarea {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .form input {
    width: 350px;
  }

  .form textarea {
    width: 350px;
  }
}
