@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@500;700&display=swap");

.header {
  background: black;
  overflow: hidden;
}

.titleImage {
  opacity: 0.4;
  height: 92vh;
  min-width: 1300px;
}

.titleImage Image {
  align-self: center;
}

.testPicture {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../public/tews-falls.jpg") no-repeat center;
  background-size: cover;
  height: 92vh;
}
