@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@300;700&display=swap");

.main {
  font-family: Vollkorn, sans-serif;
}

.pictureContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/tews-falls.jpg") no-repeat center;
  background-size: cover;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pictureContainer h2 {
  color: white;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  height: fit-content;
  width: 75%;
}

.pictureContainer h1 {
  color: white;
  font-size: 70px;
  margin-bottom: 0;
}

.pictureContainer p {
  color: rgb(163, 163, 163);
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

.learnMoreButton {
  background-color: var(--color-highlight);
  color: rgb(255, 245, 233);
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 500ms ease, border 500ms ease, color 500ms ease,
    transform 300ms ease-in;
}

.learnMoreButton:hover {
  transform: translateY(-5px);
  color: var(--color-highlight);
  background-color: white;
  border: 2px solid var(--color-highlight);
}

.headerImage {
  border-radius: 50%;
  z-index: -1;
}

.bio {
  display: flex;
  height: 90vh;
  padding-top: 10rem;
}

.bioHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 2rem;
  border-right: 1px solid black;
  height: 75%;
  align-self: center;
  z-index: -1;
}

.bioHeader h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 500;
}

.bioHeader p {
  margin: 0;
  font-size: 17px;
}

.bioHeader div {
  margin-left: 2rem;
}

.bioBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.bioBody p {
  padding: 0 4rem;
}

.bioBody h3 {
  font-size: 40px;
}

.contactInfo {
  font-size: 17px;
}

.contactInfo td:nth-child(odd) {
  font-weight: 700;
  color: rgb(161, 27, 27);
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bfb3a4;
  padding-top: 5rem;
}

.experienceBody {
  background-color: #bfb3a4;
  color: black;
  overflow-x: hidden;
  width: 50%;
  padding: 0 2rem;
}

.experienceBody h2 {
  margin-top: 0;
  font-size: 40px;
  text-align: center;
}

.experienceImage {
  width: 50%;
  height: 90vh;
  background: url("/heather-india-2.jpg") no-repeat top;
  background-size: cover;
  margin: 0 2rem 4rem 2rem;
}

.experienceList p {
  margin: 1rem;
  font-size: 19px;
}

.trees {
  width: 110%;
  position: relative;
  transform: translateY(10px);
  z-index: -1;
}

.treeDiv {
  overflow: hidden;
}

.servicesInfo {
  width: 65%;
}

.servicesInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.servicesInfoContainer :nth-child(2) {
  color: var(--color-highlight);
}

.servicesContainer {
  text-align: center;
  margin-bottom: 10rem;
}

.servicesContainer h2 {
  font-size: 40px;
}

.servicesContainer h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-highlight);
}

.services {
  display: flex;
  justify-content: space-evenly;
  padding: 0 6rem;
}

.priceCard {
  border-radius: 10px;
  text-align: center;
  width: 350px;
  border: 2px solid #bfb3a4;
  padding: 0 2rem 0 2rem;
}

.priceCard p {
  font-weight: 700;
  font-size: 20px;
}

.optionsTable p {
  font-weight: 500;
}

.services div h3 {
  font-size: 35px;
}

.servicesNote {
  margin-top: 3rem;
}

.checkmark {
  width: 30px;
  color: rgb(46, 124, 46);
}

.cross {
  color: var(--color-highlight);
  width: 20px;
}

.listCheck {
  width: 20px;
  color: rgb(44, 44, 44);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  flex-direction: column;
  padding-top: 4rem;
}

.location h2 {
  font-size: 40px;
}

.location :nth-child(2) {
  font-weight: 700;
}

.location :nth-child(3) {
  margin-top: 0;
}
.map {
  border: 0;
}

@media only screen and (max-width: 1500px) {
  .bio {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    overflow: hidden;
  }
  .bioHeader {
    border-right: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    margin: 0;
    flex-direction: column;
  }
  .bioBody p {
    padding: 0;
    width: 90%;
  }
  .bioBody {
    padding: 0;
  }

  .bioBody h3 {
    text-align: center;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .servicesInfo {
    width: 90%;
  }

  .servicesInfoContainer {
    margin-bottom: 2rem;
  }

  .priceCard {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .pictureContainer h1 {
    font-size: 60px;
  }

  .pictureContainer h2 {
    font-size: 30px;
    font-weight: 500;
  }

  .about {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .aboutHeader {
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 2rem 0;
    padding-bottom: 2rem;
  }

  .aboutBody {
    width: 100%;
  }

  .aboutBody p {
    padding: 0 2rem;
  }

  .bioHeader {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .bioBody {
    width: 90%;
  }

  .experience {
    flex-direction: column;
  }

  .experienceBody {
    width: 90%;
  }

  .experienceImage {
    width: 90%;
    margin-top: 3rem;
  }

  .priceCard {
    max-width: 90%;
  }
}

@media only screen and (max-width: 775px) {
  .pictureContainer h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .pictureContainer h2 {
    font-size: 27px;
  }

  .pictureContainer p {
    font-size: 20px;
  }

  .services {
    padding: 0;
  }

  .experienceBody {
    padding-top: 3rem;
  }

  .map {
    width: fit-content;
  }

  .bio {
    padding-top: 4rem;
  }
}
