@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@500;700&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  border-bottom: 1px solid rgb(220, 220, 220);
  position: sticky;
  top: 0;
  background-color: white;
}

.navbarTitle {
  font-family: Vollkorn, serif;
  font-size: 30px;
  font-weight: 700;
  padding: 1rem 0 1rem 2rem;
  color: var(--color-black);
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-right: 2rem;
  font-family: "Vollkorn", serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-black);
  align-items: center;
}

.navbar nav :nth-child(4) {
  background-color: var(--color-highlight);
  color: rgb(255, 245, 233);
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  transition: background-color 500ms ease, border 500ms ease, color 500ms ease,
    transform 300ms ease-in;
}

.navbar nav a {
  transition: color 500ms ease, transform 300ms ease-in;
}

.navbar nav a:hover {
  transform: translateY(-5px);
  color: var(--color-highlight);
}

.navbar nav :nth-child(4):hover {
  background-color: white;
  border: 1px solid var(--color-highlight);
}

.navbarButton {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    overflow: hidden;
  }
  .navbarButton {
    display: block;
  }

  .navbar nav {
    position: fixed;
    right: 0px;
    top: 8vh;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 0;
    font-size: 30px;
    width: 40%;
    background-color: antiquewhite;
    transition: transform 0.5s ease-in;
    z-index: 2;
  }

  @media screen and (max-width: 800px) {
    .navbar nav {
      width: 100%;
      font-size: 40px;
      top: 10vh;
      height: 90vh;
    }
    .navbar {
      height: 10vh;
    }
  }

  .navbarHidden {
    transform: translateX(100%);
  }

  .navbarVisible {
    transform: translateX(0);
  }

  .navbarButton {
    margin-right: 2rem;
  }
}
